name: iOS Build

on:
#  push:
#    branches: [ main ]
#  pull_request:
  workflow_dispatch:
  workflow_call:

jobs:
  build-ios:
    name: Build iOS
    runs-on: macos-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Flutter
        uses: flutter-actions/setup-flutter@v4
        with:
          channel: stable
          version: latest

      - name: Install dependencies
        run: flutter pub get
        
      - name: Build iOS IPA
        run: flutter build ipa --release --no-codesign

      - name: Upload iOS IPA
        uses: actions/upload-artifact@v4
        with:
          name: ios-ipa
          path: build/ios/ipa/*.ipa
          
#      - name: Build iOS build
#        run: flutter build ios --release --no-codesign
#
#      - name: Upload iOS build
#        uses: actions/upload-artifact@v4
#        with:
#          name: ios-build
#          path: build/ios/iphoneos/Runner.app